:root {
  --Soft-red: rgb(254, 120, 103);
  --Red-Clean:rgba(254, 120, 103,0.3);
  --Yellow: rgb(250, 212, 0);
  --Yellow-Clean:rgba(250, 212, 0,0.3);
  --Graphic-design: hsl(167, 40%, 24%);
  --Photography-text: hsl(198, 62%, 26%);
  --Footer: hsl(168, 34%, 41%);
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: rgb(255, 255, 255);
  --White-transparent: rgb(255, 255, 255, 0.4);
}
